<div class="modal">
    <ion-header-bar>
        <h1 class="title">Login</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="padding">

            <div class="assertive" ng-if="FrontEndErrorMsg != ''">
                <b>Fehler:</b>
                {{FrontEndErrorMsg}}
            </div>

            <div class="text-center">
                <button class="button button-outline button-block button-positive" ng-click="doFacebookLogin()">
                    <i class="fa fa-facebook"></i> Facebook Account
                </button>
            </div>

            <div class="text-center">
                <button class="button button-outline button-block button-assertive" ng-click="doGoogleLogin()">
                    <i class="fa fa-google"></i> Google Account
                </button>
            </div>


            <div class="text-center hidden">
                <button class="button button-outline button-block button-energized" ng-click="doLogin()">
                    App-Test Account
                </button>
            </div>


        </div>


    </ion-content>
</div>

