<ion-view title="{{Headline}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">


        <div class="list">

            <div class="item item-text-wrap text-center">
                <i class="fa fa-qrcode padding-horizontal" style="font-size: 120px;"></i><br/>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
                <button class="button button-positive" ng-click="scan()">
                    QR-Code Einscannen
                </button>
            </div>


            <div class="item">
                <div class="item item-text-wrap text-center">
                    <button class="button button-positive" ng-click="add()">
                        Demo ( {{GutscheinListe.length}})
                    </button>
                </div>
            </div>


            <div class="item card text-center" ng-show="GetByLocationButton">
                <button class="button button-positive" ng-click="getByLocation()">
                    Add by Location
                </button>
            </div>

            <div class="item card text-center" ng-show="selectedLocation">
                <button class="button button-positive" ng-click="postonfacebook()">
                    {{selectedLocation.name}} post on Facebook
                </button>

            </div>

        </div>


    </ion-content>
</ion-view>
