<ion-view title="{{Headline}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">


        <div class="list">

            <div class="item item-text-wrap text-center">
                <i class="fa fa-qrcode padding-horizontal" style="font-size: 120px;"></i><br/>

                <p>
                    Du hast eine Gutschein gefunden ? <br/>
                    Drück auf den Einscannen Button und füge ihn zu deinen Gutschein hinzu.

                </p>
                <button class="button button-energized button-outline" ng-click="scan()">
                    Einscannen
                </button>
            </div>


            <div class="item item-text-wrap text-center">
                <p>Demo:<br/>
                    ( im Speicher: {{GutscheinListe.length}})
                </p>
                <button class="button button-energized button-outline" ng-click="add()">
                   Demo-Data vom Server laden
                </button>

            </div>


            <div class="item card text-center" ng-show="GetByLocationButton">
                <button class="button button-positive" ng-click="getByLocation()">
                    Add by Location
                </button>
            </div>

            <div class="item card text-center" ng-show="selectedLocation">
                <button class="button button-positive" ng-click="postonfacebook()">
                    {{selectedLocation.name}} post on Facebook
                </button>

            </div>

        </div>


    </ion-content>
</ion-view>
