<ion-view title="{{Headline}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card" ng-if="MeineGutscheine.length == 0">
            <div class="item item-text-wrap text-center">
                Keine gültigen Gutscheine gefunden.
                <button ui-sref="app.AddGutscheine" class="button button-block button-positive">
                    Gutschein hinzufügen
                </button>
            </div>
        </div>

        <div ng-if="MeineGutscheine.length > 0">


            <div class="list card"
                 ng-repeat="Gutschein in MeineGutscheine"
                 ng-click="gotoDetail(Gutschein)">
                <div class="item item-divider">
                    <h2>
                        {{Gutschein.Owner}}
                    </h2>
                </div>


                <div ng-if="Gutschein.Title != ''" class="item item-text-wrap text-center">
                    <h2>{{Gutschein.Title}}</h2>

                </div>
                <a class="item energized" href="#">
                    <span ng-if="!Gutschein.AllwaysVaild">
                       Läuft ab {{moment(Gutschein.ValidUntil).fromNow()}}
                    </span>
                    <span ng-if="Gutschein.AllwaysVaild">
                        Läuft nie ab.
                    </span>
                </a>
            </div>


        </div>
    </ion-content>
</ion-view>
