<ion-view title="{{Headline}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title"></h1>

        <!--<div class="button button-icon icon ion-arrow-right-b" ng-show="showNextButton" ng-click="nextSlide()">
        </div>-->


    </ion-nav-buttons>
    <ion-content class="has-header welcome-background">
        <!-- {{Headline}} -->

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="box padding-horizontal">

                    <!--<i class="fa fa-yelp padding-horizontal" style="font-size: 120px;"></i> -->

                    <div class="applogo"></div>
                    <h1>QM-Gutschein Scanner</h1>


                </div>
            </ion-slide>
            <ion-slide>
                <div class="box padding-horizontal">

                    <i class="fa fa-qrcode padding-horizontal" style="font-size: 120px;"></i>

                    <h1>So geht's!</h1>

                    <p>Einfach QubeMedia QR-Codes abscannen und Gutscheine in der App speichern.</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box padding-horizontal">
                    <i class="fa fa-tags padding-horizontal" style="font-size: 120px;"></i>

                    <h1>Auf geht's!</h1>

                    <p>Gescannte Gutscheine verwalten und einlösen und sparen.</p>

                    <div class="text-center" style="padding:20px">
                        <button class="button button-block button-light" ng-click=" login()">
                            <!--<i class="fa fa-facebook " style="color:#fff"></i>-->Einloggen
                        </button>
                    </div>


                </div>
            </ion-slide>
        </ion-slide-box>


    </ion-content>
    <div class="bar bar-footer bar-light pointer" ng-click=" login()">
        <div class="title">
            Einloggen
        </div>
    </div>
</ion-view>
